
@import "./kame_colors";


:root {
    --prim-col: #{$prim};
    --prim-col-d-5: #{$prim-d-5};
    --prim-col-d-10: #{$prim-d-10};
    --prim-col-d-15: #{$prim-d-15};
    --prim-col-d-20: #{$prim-d-20};
    --prim-col-l-5: #{$prim-l-5};
    --prim-col-l-10: #{$prim-l-10};
    --prim-col-l-15: #{$prim-l-15};
    --prim-col-l-20: #{$prim-l-20};
    --sec-col: #{$sec};
    --sec-col-d-5: #{$sec-d-5};
    --sec-col-d-10: #{$sec-d-10};
    --sec-col-d-15: #{$sec-d-15};
    --sec-col-d-20: #{$sec-d-20};
    --sec-col-l-5: #{$sec-l-5};
    --sec-col-l-10: #{$sec-l-10};
    --sec-col-l-15: #{$sec-l-15};
    --sec-col-l-20: #{$sec-l-20};
    --tert-col: #{$tert};
    --tert-col-d-5: #{$tert-d-5};
    --tert-col-d-10: #{$tert-d-10};
    --tert-col-d-15: #{$tert-d-15};
    --tert-col-d-20: #{$tert-d-20};
    --tert-col-l-5: #{$tert-l-5};
    --tert-col-l-10: #{$tert-l-10};
    --tert-col-l-15: #{$tert-l-15};
    --tert-col-l-20: #{$tert-l-20};
    --quart-col: #{$quart};
    --quart-col-d-5: #{$quart-d-5};
    --quart-col-d-10: #{$quart-d-10};
    --quart-col-d-15: #{$quart-d-15};
    --quart-col-d-20: #{$quart-d-20};
    --quart-col-l-5: #{$quart-l-5};
    --quart-col-l-10: #{$quart-l-10};
    --quart-col-l-15: #{$quart-l-15};
    --quart-col-l-20: #{$quart-l-20};
    --green-col: #{$green};
    --green-col-d-5: #{$green-d-5};
    --green-col-d-10: #{$green-d-10};
    --green-col-d-15: #{$green-d-15};
    --green-col-d-20: #{$green-d-20};
    --green-col-l-5: #{$green-l-5};
    --green-col-l-10: #{$green-l-10};
    --green-col-l-15: #{$green-l-15};
    --green-col-l-20: #{$green-l-20};
    --red-col: #{$red};
    --red-col-d-5: #{$red-d-5};
    --red-col-d-10: #{$red-d-10};
    --red-col-d-15: #{$red-d-15};
    --red-col-d-20: #{$red-d-20};
    --red-col-l-5: #{$red-l-5};
    --red-col-l-10: #{$red-l-10};
    --red-col-l-15: #{$red-l-15};
    --red-col-l-20: #{$red-l-20};
    --yellow-col: #{$yellow};
    --yellow-col-d-5: #{$yellow-d-5};
    --yellow-col-d-10: #{$yellow-d-10};
    --yellow-col-d-15: #{$yellow-d-15};
    --yellow-col-d-20: #{$yellow-d-20};
    --yellow-col-l-5: #{$yellow-l-5};
    --yellow-col-l-10: #{$yellow-l-10};
    --yellow-col-l-15: #{$yellow-l-15};
    --yellow-col-l-20: #{$yellow-l-20};
    --blue-col: #{$blue};
    --blue-col-d-5: #{$blue-d-5};
    --blue-col-d-10: #{$blue-d-10};
    --blue-col-d-15: #{$blue-d-15};
    --blue-col-d-20: #{$blue-d-20};
    --blue-col-l-5: #{$blue-l-5};
    --blue-col-l-10: #{$blue-l-10};
    --blue-col-l-15: #{$blue-l-15};
    --blue-col-l-20: #{$blue-l-20};
    --gray-col: #{$gray};
    --gray-col-d-5: #{$gray-d-5};
    --gray-col-d-10: #{$gray-d-10};
    --gray-col-d-15: #{$gray-d-15};
    --gray-col-d-20: #{$gray-d-20};
    --gray-col-l-5: #{$gray-l-5};
    --gray-col-l-10: #{$gray-l-10};
    --gray-col-l-15: #{$gray-l-15};
    --gray-col-l-20: #{$gray-l-20};
    --white-col: #{$white};
    --white-col-d-5: #{$white-d-5};
    --white-col-d-10: #{$white-d-10};
    --white-col-d-15: #{$white-d-15};
    --white-col-d-20: #{$white-d-20};
    --black-col: #{$black};
    --black-col-l-5: #{$black-l-5};
    --black-col-l-10: #{$black-l-10};
    --black-col-l-15: #{$black-l-15};
    --black-col-l-20: #{$black-l-20};
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}
